<div class="container">
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <ul class="nav flex-column">
        <li class="nav-item">
            <img src="assets/imagem/alelo-logo.png">
        </li>
        <li class="nav-item titulo">
            <a class="nav-link" href=""><p> Alelo Frota </p></a>
        </li>
        <li class="nav-item subitem">
            <a class="nav-link {{activeDashboard}}" [routerLink]="['/dashboard']" (click)="onActiveDashboard()">
                <p><img src="assets/imagem/border-all-solid.svg" class="svg">  Dashboard</p>
            </a>
        </li>
        <li class="nav-item subitem">
            <a class="nav-link {{activeVehicle}}" [routerLink]="['/vehicle']" (click)="onActiveVehicle()">
                <p><img src="assets/imagem/car-side-solid.svg" class="svg">  Vehicle</p>
            </a>
        </li>
        <li class="nav-item subitem">
            <a class="nav-link  {{activeReport}}" [routerLink]="['/report']" (click)="onActiveReport()">
                <p><img src="assets/imagem/chart-bar-solid.svg" class="svg">  Reports</p>
            </a>
        </li>
    </ul>
</div>
<div class="main-container" #scrollContainer>
    <router-outlet></router-outlet>
</div>
</div>

<ngx-spinner
  bdColor = "rgba(0, 0, 0, 0.8)"
  size="medium"
  color= "#dda0dd"
  type="square-spin">
  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>
