.titulo {
    font-size: 25px;
}

.nav-item {
    font-weight: bolder;
}

.subitem {
    font-size: 20px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: gainsboro;
}

p {
    color: #000;
}

.container{
    display: flex;
    margin:36px;
}

.svg {
    width: 20px;
    height: 20px;
}