@media screen and (min-width: 768px) {
    .card {
        width: 1280px;
        height: 600px;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width:  420px;
        height: 600px;
    }
}

.svg {
    width: 20px;
    height: 20px;
}

.adicionarVeiculo {
    text-align: right
}