<div class="container">
<div class="card mb-3">
    <div class="card-body">
      <h3>Vehicle Manegement</h3>
      <br>
      <p>This screen has the function of managing the vehicle</p>
      <form [formGroup]="consultaForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-md-4">
                  <input type="text" 
                        class="form-control" 
                        placeholder="please search"
                        formControlName="plate" 
                        maxlength="7"
                        mask="AAAAAAA"
                        [ngClass]="{ 'is-invalid': submitted && f.plate.errors }">
                        <div *ngIf="submitted && f.plate.errors" class="invalid-feedback">
                          <div *ngIf="f.plate.errors.required">Plate is required</div>
                      </div>
          </div>
          <div class="form-group col-md-2">
              <button href="">
                  <p><img src="assets/imagem/search-solid.svg" class="svg"></p>
              </button>
          </div>
          <div class="form-group col-md-6 adicionarVeiculo">
              <button class="btn btn-primary" [routerLink]="['/register']" >Add Vehicle +</button>
          </div>
        </div>
      </form>
      <br>
      <div class="row">
        <table class="table table-striped">
          <thead  class="table-primary">
            <tr>
              <th scope="col">Plate</th>
              <th scope="col">Model</th>
              <th scope="col">ManuFacture</th>
              <th scope="col">Status</th>
              <th scope="col" colspan=2>Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let vehicle of page.content">
            <tr>
              <th>{{vehicle.plate}}</th>
              <td>{{vehicle.model}}</td>
              <td>{{vehicle.manufacturer}}</td>
              <td>
                <p><img [src]='getImagem(vehicle)' class="svg"> {{getStatus(vehicle)}}</p>
              </td>
              <td>
                <a [routerLink]="['/update',vehicle.id]">
                  <p><img src="assets/imagem/edit-regular.svg" class="svg"></p>
                </a>  
              </td>
              <td>
                <a (click)="delete(vehicle.id)">
                  <p><img src="assets/imagem/trash-alt-regular.svg" class="svg"></p>
                </a>  
              </td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <li class="paginate_button page-item previous">
              <a (click)="changePage(page.number - 1)" class="page-link" disabled>Previous</a>
          </li>
          <li class="paginate_button page-item active">
              <a class="page-link">{{page.number + 1}}</a>
          </li>
          <li class="paginate_button page-item">
            <a  class="page-link">{{page.totalPages}}</a>
          </li>
          <li class="paginate_button page-item next" [ngClass]="disabledNext()? 'disabled' : ''">
            <a (click)="changePage(page.number + 1)" class="page-link">Next</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>