
@media screen and (min-width: 768px) {
    .card {
        width: 1280px;
        height: 800px;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width:  420px;
        height: 800px;
    }
}

.svg {
    width: 20px;
    height: 20px;
}

.save {
    text-align: right;
}

#content {
    position: relative;
}

.content img {
    position: absolute;
    top: 0px;
    right: 0px;
}