<div class="container">
    <div class="card">
        <div class="card-body">
          <h3>Register Vehicle</h3>
          <br>
          <br>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="usuario">
                      <strong>Plate</strong>
                  </label>
                  <input type="text" 
                            class="form-control" 
                            placeholder="plate"
                            formControlName="plate" 
                            maxlength="7"
                            mask="AAAAAAA"
                            [ngClass]="{ 'is-invalid': submitted && f.plate.errors }">
                            <div *ngIf="submitted && f.plate.errors" class="invalid-feedback">
                              <div *ngIf="f.plate.errors.required">Plate is required</div>
                            </div>
              </div>
              <div class="content">
                <img src="assets/imagem/car.png">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="usuario">
                      <strong>Model</strong>
                  </label>
                  <input type="text" 
                            class="form-control" 
                            placeholder="model"
                            formControlName="model" 
                            [ngClass]="{ 'is-invalid': submitted && f.model.errors }">
                            <div *ngIf="submitted && f.model.errors" class="invalid-feedback">
                              <div *ngIf="f.model.errors.required">Model is required</div>
                            </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="usuario">
                      <strong>Manufacturer</strong>
                  </label>
                  <input type="text" 
                            class="form-control" 
                            placeholder="manufacturer"
                            formControlName="manufacturer" 
                            [ngClass]="{ 'is-invalid': submitted && f.manufacturer.errors }">
                            <div *ngIf="submitted && f.manufacturer.errors" class="invalid-feedback">
                              <div *ngIf="f.manufacturer.errors.required">Manufacturer is required</div>
                            </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="usuario">
                      <strong>Color</strong>
                  </label>
                  <input type="text" 
                            class="form-control" 
                            placeholder="color"
                            formControlName="color" 
                            [ngClass]="{ 'is-invalid': submitted && f.color.errors }">
                            <div *ngIf="submitted && f.color.errors" class="invalid-feedback">
                              <div *ngIf="f.color.errors.required">Color is required</div>
                            </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="usuario">
                  <strong>Status</strong>
                </label>
                <br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" 
                         type="radio" 
                         name="status" 
                         id="inlineRadio1" 
                         value="true"
                         formControlName="status" 
                         [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                  <label class="form-check-label" for="inlineRadio1">Active</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" 
                         type="radio" 
                         name="status" 
                         id="inlineRadio2"
                         value="false"
                         formControlName="status" 
                         [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                  <label class="form-check-label" for="inlineRadio2">Inactive</label>
                </div>
                <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                  <div *ngIf="f.status.errors.required">Status is required</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                  <button type="button" class="btn btn-secondary" (click)="resetForm()">Reset All</button>
              </div>
              <div class="form-group col-md-6 save">
                <button class="btn btn-primary" >Save</button>
            </div>
            </div>
        </form>
        </div>
      </div>
</div>